body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 4rem;
  color: grey;
  margin: 'Sacramento' sans-serif;
}

h2{
    font-size: 3rem;
  font-family: 'Montserrat', sans-serif;


}
h3{
  font-family: 'Montserrat', sans-serif;

}

.top-container{
  background-color: #E4f9f5;
  position: relative;
  padding-top: 100px;

}
.middle-container{
  background-color: #E4f9f5;
  text-align: center;
  height: 1200px;
  width: 100%;
  padding-top: 100px;

}
.bottom-container{
  background-color: #E4f9f5;
  text-align: center;
  height: 200px;
  width: 100%;
  padding-top: 100px;

}


.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  left: 800px;
  bottom: 700px;
}

.bottom-cloud{
  position: absolute;
  right: 900px;
  bottom: 580px;
}
